/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin-bottom: 6.5rem;
}

.flex{
    display: flex;
}

.bg_dark{
    background-color: var(--dark);
    color: white;
}

.bg_black{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul{
    list-style: none;
}

/* ROOTS */
:root{
    --dark: #282828;
    --main_bg: #141922;
    --active_bar: #8dcf2c;
}

/* TEMPORARY */
.border{
    border: 2px dashed pink;
}

/* TOP */
.top{
    height: calc(100vh - 6.5rem);
}

/* ASIDEBAR */
aside{
    padding: 1rem;
    width: 4rem;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
}

/* MAIN */
main{
    width: calc(100% - 4rem);
    flex-shrink: 1;
    flex-grow: 1;
    padding: 1rem;
    overflow: auto;
}

.top_main{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    height: 6rem;
    background-color: #28282866;
}

/* FOOTER */
footer{
    height: 6.5rem;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.player{
    height: 100%;
    justify-content: space-between;
}

.player_center{
    width: 50%;
}

.player_left,
.player_right{
    width: 25%;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .w-tablet{
        width: 200px;
    }
}

/* LAPTOP */
@media screen and (min-width: 992px) {
    .w-laptop{
        width: 200px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    
}

