/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.bg_dark{
    background-color: var(--dark);
    color: white;
}

.bg_black{
    background-color: black;
    color: var(--grey);
}

a{
    text-decoration: none;
    color: currentColor;
    display: block;
}

ul{
    list-style: none;
}

.btn{
    border: 1px solid white;
    padding: 1rem 2rem;
    color: white;
    border-radius: 30px;
}

h3,
h4{
    padding-top: 1rem;
}

img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.round{
    border-radius: 50%;
}


/* ROOTS */
:root{
    --grey: #a3a3a3;
    --dark: #282828;
    --main_bg: #141922;
    --active_bar: #8dcf2c;
}

/* TEMPORARY */
.border{
    border: 2px dashed pink;
}

section{
    min-height: 200px;
}

/* TOP */
.top{
    height: calc(100vh - 6.5rem);
}

.d_tablet{
    display: none;
}

.d_tablet_block{
    display: none;
}
/* ASIDEBAR */
aside{
    padding: 1rem;
    width: 4rem;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2rem;
    align-items: center;
    text-align: center;
}

aside h4{
    color: white;
}

#logo_lg{
    display: none;
    transform: translateX(-5px);
}

.top_aside .fa-solid{
    padding-top: 1.5rem;
}

.playlist{
    margin-top: 2rem;
}

.download{
    border: 2px solid var(--grey);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    scale: 0.6;
}

.fa-arrow-down{
    transform: translateY(-5px)
}

.bottom_aside{
    width: 100%;
}

.install{
    justify-content: center;
    align-items: center;
}

.download_description{
    padding-left: 1rem;
}

.line{
    height: 2px;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 1rem;
}

.avatar.round{
    background-color: var(--grey);
    width: 2rem;
    height: 2rem;
}

.user{
    align-items: center;
}

/* MAIN */
main{
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    background-color: var(--main_bg);
    color: white;
}

.top_main{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 5rem;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.top_main div{
    padding-right: 2rem;
}

.btn.upgrade{
    font-size: 0.8REM;
}

/* CONTENT MAIN */
.content_main{
        padding: 1rem;
}

nav ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.row{
    flex-wrap: wrap;
}

.column{
    flex-basis: 50%;
    gap: 10px;
}

.card{
    text-align: center;
    padding: 10px;
}

/* FOOTER */
footer{
    height: 6.5rem;
    width: 100%;
    padding: 1rem;
}

.player{
    height: 100%;
    justify-content: space-between;
}

.player_center{
    width: 50%;
}

.player_left,
.player_right{
    width: 25%;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .w-tablet{
        width: 200px;
    }

     #logo_sm{
        display: none;
     }

     #logo_lg{
        display: inline-block;
     }

    aside{
        text-align: left;
    }

    .fa-arrow-down {
        transform: translate(4px , -5px);
    }

    .avatar.round{
        margin-right: 1rem;
    }

    .d_tablet{
        display: inline;
    }

    .d_tablet_block{
        display: block;
    }
}

/* LAPTOP */
@media screen and (min-width: 992px) {
    .w-laptop{
        width: 200px;
    }
    .column{
        flex-basis: 25%;
    }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    .column{
        flex-basis: calc(100% / 6);
    }
}

